.About {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding: 50px 50px 100px;
  text-align: center;
}
.About h1 {
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 0.3rem;
  margin-bottom: 0;
  text-align: center;
}
.About h1,
h3 {
  color: #364f6b;
}
.About p {
  color: #364f6b;
  line-height: 2rem;
  padding: 10px;
  margin: 0 200px;
}
.Wrap {
  display: flex;
  justify-content: space-between;
}
.Wrap div {
  margin: 10px;
  width: 50%;
}
.Wrap img {
  border: 1px solid;
  border-radius: 100px;
  filter: invert(27%) sepia(67%) saturate(308%) hue-rotate(170deg)
    brightness(93%) contrast(93%);
  width: 50px;
  padding: 10px;
}
.Wrap p {
  margin: 0px;
}

@media (min-width: 280px) and (max-width: 760px) {
  .Wrap {
    display: block;
  }
  .Wrap div {
    margin: 25px 5px;
    width: 100%;
  }
}
@media (min-width: 280px) and (max-width: 1026px) {
  .About p {
    margin: auto;
    text-align: center;
  }
}
