.Project {
  margin: 5px;
}
.Project h3 {
  color: #f6f6f6;
}
.ProjectOverLay {
  display: hidden;
  background: transparent;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 600ms ease-in-out;
  position: relative;
  width: 350px;
  height: 240px;
  top: -20px;
  left: -50px;
  padding: 25px;
}
.ProjectOverLay:hover {
  visibility: visible;
  opacity: 1;
  background: #364f6b;
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}

.ProjectLinks {
  display: flex;
  justify-content: center;
}
.ProjectLinks a {
  border: 2px solid #f6f6f6;
  color: #f6f6f6;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  transition: 600ms ease-in-out;
  width: 150px;
}
.ProjectLinks a:hover {
  background-color: #822659;
  color: #f6f6f6;
  transition: 300ms ease-in-out;
}
