@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&display=swap");

.NavDesign {
  display: fixed;
  border: 1px solid lightgrey;
  /* box-shadow: 3px 9px 16px -7px rgba(0, 0, 0, 0.51); */
  border-radius: 5px;
  width: 100%;
}
.NavBar {
  display: flex;
  flex-direction: row;
}
.Logo {
  flex: 8;
}
.Logo a {
  border-left: 2px inset black;
  border-top: 2px inset black;
  border-right: 2px inset lightgrey;
  border-bottom: 2px inset lightgrey;
  border-radius: 1px;
  cursor: pointer;
  padding: 8px;
  margin: auto;
  font-family: "Merienda", cursive;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 16px;
}
.Logo a:hover {
  background-color: black;
  border: 1px inset grey;
  color: white;
}
.Navigation {
  flex: 2;
  font-family: "Adamina", serif;
}
.Navigation nav,
ul {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.Navigation nav,
ul,
li {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 15px;
}

@media (min-width: 280px) and (max-width: 767px) {
  .Navigation nav,
  ul {
    flex-direction: column;
  }
}
