@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,600;1,700&display=swap");

.Intro {
  align-items: center;
  background-color: #3fc1c9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh + 53px);
  text-align: center;
}
.Text {
  margin: 0px 25px;
}
.Text h2 {
  font-size: 35px;
  line-height: 3.5rem;
}
.Text h2,
p {
  color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
}
.Span {
  color: #822659;
  font-family: "Crimson Text", serif;
  font-size: 60px;
}
.Button {
  background-color: #3fc1c9;
  border: 5px solid #f6f6f6;
  cursor: pointer;
  width: 225px;
}
.Button:hover {
  background-color: #822659;
  transition: all 0.5s;
}
.Button:focus {
  outline: none;
}
.Button p {
  color: #f4eeff;
  font-size: 15px;
  font-weight: 600;
}

.Link {
  display: flex;
  justify-content: space-evenly;
}
.Arrow {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(3179%) hue-rotate(171deg)
    brightness(110%) contrast(93%);
  position: relative;
  top: 15px;
  left: 3px;
}
section:nth-of-type(1) button .Arrow {
  transition: all 0.3s;
}
section:nth-of-type(1) button:hover .Arrow {
  transform: rotate(90deg);
  transition: all 0.3s;
}
