@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,600;1,700&display=swap");

.TopBox {
  width: 100%;
  height: 10px;
}

.Footer {
  align-items: center;
  background-color: #364f6b;
  color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 25px;
}
.Footer p {
  font-family: "Montserrat", sans-serif;

  letter-spacing: 0.1rem;
}
.Footer span {
  color: #3fc1c9;
  font-weight: 600;
}
.Icon img {
  cursor: pointer;
  filter: invert(81%) sepia(17%) saturate(1701%) hue-rotate(132deg)
    brightness(85%) contrast(83%);
  margin: 15px;
  width: 40px;
}
.Icon img:hover {
  filter: invert(50%) sepia(45%) saturate(7246%) hue-rotate(167deg)
    brightness(87%) contrast(83%);
}
