@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&display=swap");

.About {
  margin: 125px auto;
  text-align: center;
}
.About h1 {
  font-size: 85px;
  animation: Slide-up 1.4s ease;
  font-family: "Merienda", cursive;
  line-height: 3rem;
}
.About h4 {
  animation: Slide-up 1.8s ease;
  color: rgb(126, 126, 126);
  font-size: 20px;
  font-family: "Adamina", serif;
}

.About p {
  font-family: "Adamina", serif;
  letter-spacing: 1px;
  animation: Slide-up 2.2s ease;
  margin: 50px 25px 0;
}
.About button {
  animation: Slide-up 2.6s ease;
  cursor: pointer;
}
.Skills {
  display: none;
  margin: 75px;
}
.MySkills {
  display: flex;
  justify-content: center;
}
.MySkills img {
  margin: 10px 25px;
  width: 75px;
}
/* .SkillsButton {
  background-color: pink;
} */

@keyframes Slide-up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
